@model JobNeedsWebApp.Models.EmploySearchViewModel

@{
    ViewData["Title"] = "Browse";
}

<h1>Browse</h1>

<h4>EmploySearchViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Browse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployerID" class="control-label"></label>
                <input asp-for="EmployerID" class="form-control" />
                <span asp-validation-for="EmployerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Page" class="control-label"></label>
                <input asp-for="Page" class="form-control" value="1"/>
                <span asp-validation-for="Page" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageSize" class="control-label"></label>
                <input asp-for="PageSize" class="form-control" value="10"/>
                <span asp-validation-for="PageSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

