@model IEnumerable<JobNeedsWebApp.Models.JobViewModel>

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Jobseekers dashboard</h1>

<p>Jobseeker dashboard information go here. Number of applied jobs , login and other details.</p>